@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>

@{
    ViewBag.Title = "Registro de Veículos com Débito mas Sem Cadastro";
}

@using (Html.BeginForm("RegistroVeiculosComDebitoMasSemCadastro", "Gerencial", FormMethod.Post, new { id = "FormAltera" }))
{
    <div class="jumbotronFundo">
        <input type="hidden" name="escolha" id="escolha" value="nada" />
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th class="busca" width="80%">
                        <h2>VEÍCULOS NÃO CADASTRADOS COM DÉBITO</h2>
                    </th>
                    <th style="vertical-align:bottom">
                        <a href="~/Gerencial/Menu" class="btn2 btn-primary-pesqui .btn-sm">VOLTAR</a>&nbsp;&nbsp;<a href="~/" class="btn2 btn-primary-menu btn-sm">MENU</a>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input onclick="validateForm('rv');" class="btn4 btn-primary-imp .btn-sm" type="button" name="Submit" id="Submit" value="REGISTRAR VEÍCULOS" />
                    </td>
                </tr>
            </table>
            <hr />
        </center>

        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DOS VEÍCULOS:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Total de Veículos:&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                @if (Model != null)
                                {
                                    @Html.Partial("_ContadorDeVeiculos")
                                }
                            </tr>
                            <tr>
                                <td class="input-sm-fino">&nbsp;</td>
                            </tr>
                            <tr>
                                @if (Model != null)
                                {
                                    @Html.Partial("_GridDebitos")
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>

    </div>
}
@if (ViewBag.Message != null)
{
    <script>
        try {
            $(document).ready(function () {
                $("#msgOk").modal();
            });
        }
        catch (e) {
            alert(e);
        }
    </script>
}

<script>
    try {
        function validateForm(a) {
            if (a == "rv") {
                document.getElementById("escolha").value = "rv";
            }
            document.getElementById("FormAltera").submit();
            return true;
        }
    }
    catch (e) {
        alert("Erro: " + e);
    }
</script>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgOk" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>VEÍCULOS NÃO CADASTRADOS COM DÉBITO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">@ViewBag.Message</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>