@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
@{
    ViewBag.Title = "Pagar Contrato de Leasing";
    Layout = null;

    var total = Model.Sum(i => i.valor_debito_total);
    if (total == 0)
    {
        total = null;
    }
}
<div class="fonte-cinza-claro fonte-tamanho-form">
    Valor Pago Total (Veículo): &nbsp;
    <input class="input-sm-fino" value="@total" type="text" name="_valor_pago_total_por_veiculo" id="_valor_pago_total_por_veiculo" style="width: 150px; text-transform:uppercase" disabled="disabled" />
</div>




