@{
    ViewBag.Title = "Ajax";
    Layout = null;
}

<h2>Ajax</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function onBegin() {
        $("#divLoading").html('<img src="~/Imagens/safraBranco.jpg" alt="CADÊ A IMAGEM QUE TAVA AQUI!" />');
    }

    function onComplete() {
        $("#divLoading").html("");
    }
</script>

@using (Ajax.BeginForm("Teste2", "Registro", new AjaxOptions { UpdateTargetId = "Rules", OnBegin = "onBegin", OnComplete = "onComplete" }))
{
    <input type="submit" value="Load Rules" />
}

<div id="divLoading"></div>

<div id="Rules"></div>