@{
    ViewBag.Title = "Contato";
}
<br />
<br />

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maceiras Sistemas S/C Ltda<br />
    Av. Braz Leme, 2428 / 12<br />
    <abbr title="Phone">Fones:</abbr>
    11 2283-3462 / 11 98922-8367 (Alexandro Maceiras)
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:alexandro@maceiras.com.br">alexandro@maceiras.com.br</a><br />
</address>