@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

 <div class="jumbotronFundo">
     <center>
         <table>
             <tr>
                 <td>

                     <table>
                         <tr>
                             <td>
                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Transacional</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Com DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-imp btn-sm">IMPRIMIR</a>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">CONSULTAR</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Liquidados Sem DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-imp btn-sm">IMPRIMIR</a>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">CONSULTAR</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Sem DUT À Mais de 45 Dias &nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-imp btn-sm">IMPRIMIR</a>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">CONSULTAR</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Impressão de DUT Avulso</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-imp btn-sm">IMPRIMIR</a>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">CONSULTAR</a>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <p>
                                     <font size="0">IMPRIMIR: Listagem apenas com itens ainda não impressos.<br /></font>
                                     <font size="0">CONSULTAR: Listagem com todos os itens, impressos ou não.</font>
                                 </p>
                                 </td>
                         </tr>
                         <tr>
                             <td>

                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Registros</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Registrar débito de IPVA - Manual</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-reg btn-sm">REGISTRAR</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Registrar débito de IPVA - Lote (Sefaz-SP)</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-reg btn-sm">UPLOAD</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Registrar recuperação de Pagamento de IPVA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-reg btn-sm">REGISTRAR</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Registrar DUT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-reg btn-sm">REGISTRAR</a>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>

                         <tr>
                             <td>
                                 <h6>&nbsp</h6>
                             </td>
                         </tr>
                         <tr>
                             <td>

                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Consultas</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Consultar Contrato de Leasing</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">CONSULTAR</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Consultar veículo de Contrato de Leasing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">CONSULTAR</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Consultar Cliente</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">CONSULTAR</a>
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Consultar Débito</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">CONSULTAR</a>
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>
                     </table>

                 </td>
                 <td>
                     &nbsp;&nbsp;&nbsp;
                 </td>
                 <td>

                     <table border="0">
                         <tr>
                             <td>

                                 <table border="1">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Relatórios</h3>
                                             <table border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Relatório - Lista Notificações - RAT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">GERAR</a>
                                                     </td>
                                                 </tr>

                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Relatório - Lista Cobranças - RAT</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">GERAR</a>
                                                     </td>
                                                 </tr>

                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Relatório - Lista Incorporações de Dívidas - JUR</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">GERAR</a>
                                                     </td>
                                                 </tr>

                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Relatório - Bens apreendidos com débito de IPVA&nbsp;&nbsp;&nbsp;</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">GERAR</a>
                                                     </td>
                                                 </tr>

                                                 <tr>
                                                     <td>
                                                         <p><ul><li><h5>Documento - Solicitação Débito em C/C</h5></li></ul>
                                                     </td>
                                                     <td>
                                                         <a href="#" class="btn2 btn-primary-cons btn-sm">GERAR</a>
                                                     </td>
                                                     <td>
                                                        <h6>&nbsp;&nbsp;&nbsp;</h6>
                                                    </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <h6>&nbsp</h6>
                             </td>
                         </tr>
                         <tr>
                             <td>

                                 <table border="1" width="100%">
                                     <tr>
                                         <td>
                                             <h3>&nbsp;&nbsp;&nbsp;Visão Geral</h3>
                                             <table border="0" cellspacing="0" cellpadding="0" width="81%">
                                                 <tr>
                                                     <td>
                                                         <img width="127%" src="~/Imagens/GrafPizza.jpg" />
                                                     </td>
                                                     <td>
                                                         &nbsp;&nbsp;&nbsp;
                                                     </td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>

                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <h6>&nbsp</h6>
                             </td>
                         </tr>
                         <tr>
                             <td>

                                 <table border="0" width="100%">
                                     <tr>
                                         <td>
                                             <center>
                                                 <table border="0" cellspacing="0" cellpadding="0">
                                                     <tr>
                                                         <td>
                                                             <center>
                                                                 <a href="#" class="btn2 btn-primary-reg btn-sm">GERENCIAL</a>
                                                             </center>
                                                         </td>
                                                         <td>
                                                             <center>
                                                                 <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                                                             </center>
                                                         </td>
                                                         <td>
                                                             <center>
                                                                 <a href="#" class="btn2 btn-primary-reg btn-sm">CONCILIAÇÃO</a>
                                                             </center>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="0"><h6></h6></td>
                                                     </tr>
                                                     <tr>
                                                         <td>
                                                             <center>
                                                                 <a href="#" class="btn2 btn-primary-fim btn-sm">SAIR</a>
                                                             </center>
                                                         </td>
                                                         <td>
                                                             <center>
                                                                 <h6>&nbsp;</h6>
                                                             </center>
                                                         </td>
                                                         <td>
                                                             <center>
                                                                 <a href="#" class="btn2 btn-primary-fim btn-sm">LOGOFF</a>
                                                             </center>
                                                         </td>
                                                     </tr>
                                                 </table>
                                             </center>
                                         </td>
                                     </tr>
                                 </table>



                                 <table border="0" width="100%">
                                     <tr>
                                         <td>
                                             <center>
                                                 <table border="0" cellspacing="0" cellpadding="0">
                                                     <tr>
                                                         <td>
                                                             <h3>&nbsp;</h3>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td>
                                                             <h2>&nbsp;</h2>
                                                         </td>
                                                     </tr>
                                                 </table>
                                             </center>
                                         </td>
                                     </tr>
                                 </table>


                             </td>
                         </tr>

                     </table>

                 </td>
             </tr>

         </table>
     </center>

</div>
