@{
    ViewBag.Title = "Sobre";
}
<br />
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Faça consultas de contratos, veículos, clientes e débitos de leasing de veículos.</p>
<p>Registre débitos, pagamentos e recuperação de IPVA.</p>
<p>Imprima relatórios e gere planilhas em csv.</p>
<p>E mais...</p>
<br />
<a href="~/Home/Contato">Maceiras Sistemas © SAFRA S/A</a>
