@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
@foreach (var item in Model)
    {
        <tr>
            <td class="input-sm-fino">
                @item.valor_debito_total
            </td>
        </tr>
    }



