@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
@{
    ViewBag.Title = "Consultar Contrato de Leasing";
    Layout = "~/Views/Shared/_LayoutConsultaContrato.cshtml";
}
@foreach (var item in Model)
    {
        <tr>
            <td class="input-sm-fino">
                @item.valor_debito_total
            </td>
        </tr>
    }



