@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
@{
    ViewBag.Title = "Consultar Contrato de Leasing";
    Layout = "~/Views/Shared/_LayoutConsultaContrato.cshtml";

    var total = Model.Sum(i => i.valor_total_recuperado);
    if (total == 0)
    {
        total = null;
    }
}
<div class="fonte-cinza-claro fonte-tamanho-form">
    Valor de Débitos de IPVA (Cnpj): &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="input-sm-fino" value="@total" type="text" name="contrato" size="30" style="text-transform:uppercase" disabled="disabled" />
</div>

<!-- Se não fizer o Model.Sum, fizer um for each, por exemplo, cada Model vai trazer a soma dos cada um dos carros do contrato! -->

